#l{
    height: 100vh;
    width: 100vw;
    background-image: url(../html/1_IntrotoHTML/media/icon.png),url(../html/1_IntrotoHTML/media/codingNinja.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-size: width height;
    background-attachment: fixed;
}