<html>
<head>
    <title>Contact list</title>
</head>
<body>
    
    <h1> Contact List</h1>

    <div>
        <ul>
            <% for (let i of Contact_List){ %>
                <li>
                    <p> <%= i.name %></p>
                    <p> <%= i.phone %></p>
                </li>
            <% } %>
        </ul>
    </div>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required><br>
        <input type="number" name="phone" placeholder="Enter Phone Number" required><br>
        <button type="submit">Add Contact</button>
    </form>
    
</body>
</htm>