.container
{
    border:2px solid black;
    width:790px;
    background-color:lightcyan;
    display:grid;
    grid-template-columns:250px 250px 250px ;
    grid-template-rows:100px 100px 100px 100px 11 0px 100px;
    grid-gap:20px 20px;
    grid-template-areas: "header header header"
                          "menue menue menue"
                          "box1 box2 sidebar"
                          "content content sidebar"
                          "content content sidebar"
                          "footer footer footer";
}
.item1
{
    background:red;
    grid-area: header;
}
.item2
{
    background: yellow;
    grid-area: menue;
}
.item3
{
    background:purple;
    grid-area: box1;
}
.item4
{
    background:green;
    grid-area: box2;
}
.item5
{
    background:pink;
    grid-area: sidebar;
}
.item6
{
    background: lightblue;
    grid-area: content;
}
.item7
{
    background-color:orangered;
    grid-area:footer;
}