/* global classes */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-prop {
    border-style: none;
    background-color: inherit;
}

/* Navigation bar */
#nav-icon {
    width: 30px;
    height: 30px;
    color: black;
}

#notification-icon {
    list-style: none;
    font-size: large;
    color: black;
}

#notification-icon i:hover {
    animation: ring 0.6s ease-in-out 3;
    font-size: x-large;
}

/* Animationof bell (ring effect) */
@keyframes ring {
    from {
        rotate: 40deg;
    }

    50% {
        rotate: -40deg;
    }

    to {
        rotate: 40deg;
    }
}

/* hover effect on nav option of underline when we hover over it */
#nav-option li a:hover {
    border-bottom: 1px solid rgb(255, 54, 54);
}

/* Banner */
#banner-container {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#banner {
    width: 75%;
    height: auto;
}

/* three crousel images */
#crousel {
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.crousel-img img {
    height: 16vw;
    width: 21vw;
    border-radius: 10px;
}

#img1 {
    position: relative;
    left: 60px;
    z-index: -1;
}

#img3 {
    position: relative;
    right: 60px;
    z-index: -1;
}

/* Animation of crousel images */
.crousel-img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    z-index: 4;
}

/* latest release section */
#latest-release {
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    grid-row-gap: 2rem;
}

.box {
    height: 17vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box img {
    width: 10vw;
    height: 15vh;
    margin-top: 0.6vh;
    margin-left: 0.2vw;
    border-radius: 5px;
}

.box .song-description {
    margin: auto;
}

.box .song-option {
    margin: auto;
    margin-right: 10px;
}

.box:hover {
    transform: scale(1.05);
    border: 2px solid rgb(120, 166, 182);
    border-radius: 5px;
}

/* Top Artists */
.top-artists {
    width: 98%;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    grid-row-gap: 30px;
    grid-column-gap: 140px;
}

.top-artists figure {
    margin: 0;
    display: inline-flex;
    flex-direction: column;
}

.top-artists figure figcaption {
    font-size: 15px;
    margin: auto;
}

.artists {
    width: 9rem;
    height: 9rem;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

.artists img:hover {
    opacity: 0.5;
}

#artists1 img {
    position: relative;
    top: -3px;
    left: -6px;
}

#artists2 img {
    position: relative;
    top: -3px;
    left: -10px;
}


#artists3 img {
    position: relative;
    top: -3px;
    left: -10px;
}

#artists4 img {
    position: relative;
    left: -5px;
}

#artists7 img {
    position: relative;
    left: -4px;
}

/*  queue */
#queue {
    width: 25%;
    height: 100vh;
    overflow: scroll;
    position: relative;
}
.q-options{
    width: 0;
    height: 0;
    overflow: hidden;
}
.q-options:target{
    width: 8rem;
    height: auto;
    background-color:rgb(80, 79, 75) ;
    margin-left: 60%;
    border-radius: 10px;
}
.q-options a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.q-heading {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-right:2rem;

}
.q-heading a {
    text-decoration: none;
    color: black;
}
.q-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#queue::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#queue {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.q-box {
    height: 10vh;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.q-box img {
    width: 6vw;
    height: 8vh;
    border-radius: 5px;
}

.q-box .song-description {
    margin: auto;
}

.q-box .song-option {
    margin: auto;
    margin-right: 10px;
}

.q-box:hover {
    transform: scale(1.2);
    border-bottom: 1px solid rgb(120, 166, 182);
    border-radius: 25px;
}

/* music theam */
.music-theam {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.theam {
    width: 18rem;
    border-radius: 5px;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.theam img {
    width: 100%;
    opacity: 0.5;
}

.theam h5 {
    position: absolute;
    top: 35%;
    left: 35%;
    color: #FFFFFF;
    font-size: xx-large;
}

.theam img:hover {
    transform: scale(1.5);
    transition: transform ease-in-out 1s;
    opacity: 1;
    transition: transform ease-in-out 1s;
}


/* Hindi Latest and English Latest */
.he-latest {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-shrink: 2;
}

.hl-box {
    width: 10rem;
    height: 90%;
}

.hl-image figure img {
    width: 10rem;
}

.hl-image figure:hover {
    transform: scale(1.05);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 8px rgba(186, 172, 172, 1);
    -webkit-box-shadow: 0px 0px 5px 8px rgba(186, 172, 172, 1);
    -moz-box-shadow: 0px 0px 5px 8px rgba(186, 172, 172, 1);
}