* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #642B73;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C6426E, #642B73);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

form input {
    width: 18rem;
    height: 2.5rem;
    outline: none;
}

form button {
    width: 4rem;
    height: 2.5rem;
    margin: 0;
}

i {
    font-size: x-large;
    outline: none;
    /* background-color: white; */
}

/*      New List Container     */
.todo-container {
    margin-top:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 25%;
}

.todo {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    margin: 10px; 
}

.cmpltBtn{
    background-color: cadetblue;
    border: none;
    padding: 16px;
}
.deleteBtn{
    background-color: red;
    border: none;
    padding: 16px;
}

.todo-list li{
    flex: 1;
    padding: 5px;
}

.fa-trash , .fa-check{
    /* to disable icon using class. */
    pointer-events: none;
}

/* to tick button */
.todo-done{
     text-decoration: line-through;
     opacity: 0.5;
}