#container{
    height: 500px;
    width: 300px;
    background-color: lightgray;

    display: flex;
    flex-direction:row;
    
}
#container div{
    height: 200px;
    width: 200px;
}

#item1{ 
    background-color: red;
    flex-grow: 4;
    /* flex-shrink: 4; */
    
}
#item2{ 
    background-color: yellow;
    flex-grow: 1;
    /* flex-shrink: 1; */
}
#item3{
     background-color:green;
}
#item4{
     background-color:blue;
    }